<h1 class='mat-h1'>{{nombreMenu}}</h1>
<div style="align-content: center" *ngIf="conectado && !isLoading; else falloConexion">
  <mat-card style="max-width: 500px;"  *ngIf="!registrado; else exitoRegistrado">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Darse de alta</button>
    </form>
  </mat-card>
  <ng-template #exitoRegistrado>
    <p>
      Usuario registrado con éxito! Diríjase a Login para iniciar sesión!
    </p>
  </ng-template>
</div>
<ng-template #falloConexion>
  <p>
    {{mensajeInformacion}}
  </p>
</ng-template>

